.line {
    width: 96%;
    height: 2px;
    margin-left: 2%;
    margin-right: 2%;
}

.arrow {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 90%;
}

@media only screen and (max-width: 575px) {
    .bottom-text {
        display: none;
    }
}

.bottom-text:link { text-decoration: none; }
.bottom-text:visited { text-decoration: none; }
.bottom-text:hover { text-decoration: none; }
.bottom-text:active { text-decoration: none; }
.bottom-text { text-decoration: none; }
.bottom-text:hover {
    cursor: pointer;
}
